{% extends 'second_base.html' %}

{% block content %}

{% load socialaccount %}

<div class="container mt-5 align-center">

	<div class="row">
		<div class="col-md-6">
			<img src="/media/misc/login.svg">
		</div>

		<div class="col-md-6">
			{% if form.errors %}
			    {% for field in form %}
			        {% for error in field.errors %}
			            <div class="alert alert-danger">
			                <strong>{{ error|escape }}</strong>
			            </div>
			        {% endfor %}
			    {% endfor %}
			    {% for error in form.non_field_errors %}
			        <div class="alert alert-danger">
			            <strong>{{ error|escape }}</strong>
			        </div>
			    {% endfor %}
			{% endif %}
			<h3 class="col-md-12 mb-4">Login/Register</h3>
			
			<!-- <form action="{% url 'login' %}" method="post" class="col-md-12">{% csrf_token %}
				<h3 class="mb-4">Login/Register</h3>
			  	<div class="form-group">
			    	<input type="text" class="form-control" name="username", placeholder="Email adress" id="id_username">
			  	</div>
			  	<div class="form-group">
			    	<input type="password" class="form-control", name="password", placeholder="Password" id="id_password">
			  	</div>
			  	<button type="submit" id="submit" class="btn btn-outline-dark">Login</button>
			</form> -->

			<div class="row mt-5">
				<div class="col">
					<a class="btn btn-outline-dark social-login-btn p-4" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
			  			<img width="30px" class="mb-1 mr-1" alt="Google sign-in" src="/media/misc/google.svg">
			  			<span class="font-medium">Google</span>
					</a>
				</div>
				<div class="col">
			    	<a class="btn btn-outline-dark social-login-btn bg-facebook p-4" href="{% provider_login_url 'facebook' %}" role="button" style="text-transform:none">
			      		<img width="30px" class="mb-1 mr-1" alt="Google sign-up" src="/media/misc/facebook.svg" />
			      		<span class="font-medium">Facebook</span>
			    	</a>
			  	</div>
			  	
			  	
			  	<h4 class="mt-5 col-md-12">Reach out to us &nbsp;</h4>
			  	<div class="row col-md-5 m-auto">
			  		<a href="https://api.whatsapp.com/send?phone=9999999999" class="no-decoration mr-auto"><i class="fab fa-whatsapp"></i></a>
				  	<a href="mailto:demo@gmail.com" class="no-decoration ml-auto mr-auto"><i class="far far-social fa-envelope"></i></a>
				  	<a target="_blank" class="no-decoration ml-auto mr-auto" href="https://www.instagram.com/essenciouss/"><i class="fab fa-instagram"></i></a>
			  	</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}